@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  box-sizing: border-box;
}
